body {
  padding: 0;
  margin: 0;
}
.nav-light {
  border: 1px solid #aaa;
  padding: 8px 24px;
}
.nav-light img,
.nav-magenta img,
.nav-indigo img {
  height: 32px;
  width: auto;
}
.nav-magenta {
  background-color: #AB2165;
}
.nav-indigo {
  background-color: #5942D2;
}
